name: Go Test, Build and Deploy

on:
  push:
    branches:
      - main
 
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.23.4
      
    - name: Test
      run: go test -v ./...
      
    - name: Build
      run: go build -v -o rtocbot ./cmd/bot

    - uses: actions/upload-artifact@v4
      with:
          name: rtocbot-artifact
          path: ./rtocbot

  deploy:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: rtocbot-artifact
      - name: Deploy to server
        uses: appleboy/scp-action@master
        with:
           host: ${{ secrets.HOST }}
           username: ${{ secrets.USERNAME }}
           password: ${{ secrets.PASSWORD }}
           port: ${{ secrets.PORT }}
           source: ./rtocbot
           target: "/home/${{ secrets.USERNAME }}/projects/rtocbot"

      - name: Start rtocBot service 
        uses: appleboy/ssh-action@master
        with:
           host: ${{ secrets.HOST }}
           username: ${{ secrets.USERNAME }}
           password: ${{ secrets.PASSWORD }}
           port: ${{ secrets.PORT }}
           script: |
               cd  /home/${{ secrets.USERNAME }}/projects/rtocbot
               chmod +x rtocbot
               echo ${{ secrets.PASSWORD }} | sudo -S systemctl stop rtocbot.service 
               echo ${{ secrets.PASSWORD }} | sudo -S systemctl start rtocbot.service 
          

 
